.GuestServicesBtns {
    display: flex;
    margin: 10px 10px 10px 10px;
    .LSBtn {
        display: grid;
        font-size: 20px;
        margin: 10px 10px 10px 68px;
        color: black;
    }
    .CartBtn {
        display: grid;
        font-size: 20px;
        margin: 10px 10px 10px 68px;
        color: black;
    }
}