.Links{
    display: flex;
    margin: 60px 25px 25px 25px;
     
    .NavBarLinks a{
        color: #0051BA;
        font-size: 25px;
        font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', system-ui, sans-serif !important;
        display: inline;
        text-align: left;
        padding: 50px;
        
    }
}